
body { margin: 0; background: #000; display: flex; justify-content: center; align-items: center; height: 100vh; }
#vid1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: black; 
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  }

#box{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    z-index: -1; 
}